
#divinfo, #divinscription, #divconnect{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

#divconnection{
}

#divinscription{

}

#divinfo{

}


#accueil{
    display:flex;
    flex-direction: row;
}

.box1{
    margin: 50px;
    width: 55%;
}

.box2{
    
}

.button{
    display:flex;
    flex-direction: column;
}
.text_moyen{
    word-wrap: normal;
    max-width: 300px;
}
