
#divinfo, #divinscription, #divconnect{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    left: 55%;
    bottom: 50px;
    background-color: rgba(200, 200, 200, 0.96);
    border-radius: 20px;
    padding: 25px;
}

#divconnection{
}

#divinscription{
}

#divinfo{
}


#accueil{
    /*border: 1px solid red;*/
    display:flex;
    flex-direction: row;
}

.box1{
    /*border: 1px solid red;*/
    margin: 50px;
    width: 55%;
    margin-top: 10%;
}

.box2{
    /*border: 1px solid red;*/
    margin-top: 10%;
}

.buttons_acc{
    /*border: 1px solid red;*/
    display:flex;
    flex-direction: column;
}
.text_moyen{
    /*border: 1px solid red;*/
    word-wrap: normal;
    max-width: 300px;
}


.bt_acc_con, .bt_acc_ins {
    margin: 15px;
    border: 2px solid #555555;
    border-radius: 12px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 5px 5px 3px rgba(0, 0, 0 , 0.3);
}.bt_acc_con:hover, .bt_acc_ins:hover {
    border-radius: 15px;
}
.bt_acc_con{
    background-color: #99e09b;
    color: black;
}.bt_acc_con:hover{
    background-color: #4CAF50;
    color: white;
}

.bt_acc_ins{
    background-color: #b3c7f3;
    color: black;
}.bt_acc_ins:hover{
    background-color: #306cb9;
    color: white;
}

.bt_disconect{
    width: 30px;
    height: 30px;
    background-color:rgba(230, 50, 50, 0.9);
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.4s;
}.bt_disconect:hover{
    background-color:rgba(250, 0, 0, 0.9);
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    font-weight: 1000;
    transform: rotateZ(15deg);
}

html{
    width: 100%;
    height: 100%;
    background-image: url(../res/bg.svg);
    background-size: 100% 100%;
    background-position: -80px 0;
    background-repeat: no-repeat;
}
