
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: 0.5s;
    height: 60px;
    background-color: rgb(92, 13, 92);
    border-bottom: 2px solid rgb(20, 20, 20);
    border-radius: 0 0 15px 15px;
}.header:hover{
    width:99.9%;
    height: 70px;
    background-color: rgb(104, 18, 104);
    border: 1px solid rgb(20, 20, 20);
    border-top: none;
    border-radius: 0 0 20px 20px;
}

.header_left{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.header_right{
    display: flex;
    flex-direction: row;
    height: 100%;
    right: 0;
    margin-left: auto;
    margin-right: 20px;
}

.ha{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.hel{
    margin: 20px;
}

.bt_sortie{
    margin-left: 0;
    width: 30px;
    height: 30px;
    transition-duration: 0.4s;
    background-image: url("../res/sortie.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}.bt_sortie:hover{
    margin-top:24px;
    width: 26px;
    height: 26px;
    background-image: url("../res/sortie_hover.svg");
}

.bt_header{
    border:none;
    margin-left:1px;
    transition-duration: 0.8s;
    background-color: rgba(30, 30, 30, 0.2);
    font-size:  1em;
    color: white;
}.bt_header:hover{
    border-bottom: 2px solid rgb(180, 41, 180);
    background-color: rgba(20, 20, 20, 0.8);
    font-size:  1.05em;
    color: rgb(180, 41, 180);
    text-shadow: 2px 2px black;
    cursor: pointer;
}
.bt_header_active{
    transition-duration: 0.5s;
    border:none;
    border-bottom: 2px solid rgb(180, 41, 180);
    background-color: rgba(20, 20, 20, 1);
    font-size:  1.05em;
    color: rgb(180, 41, 180);
    text-shadow: 2px 2px black;
}

.div_main{
    margin-top: 60px;
    width: 100%;
    overflow-y: scroll;
}

.row_wrap{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_compte{
    font-size: 0.8em;
    min-width: 50px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    padding: 8px;
    margin: 5px;
    text-align: center;
    transition-duration: 0.6s;
    background-color: rgb(50, 50, 50);
}.div_compte:hover{
    background-color: rgb(60, 60, 60);
}
#compte_plus{
    font-size: 1.5em;
    padding-top: 13px;
    min-width:100px;
}
#compte_plus:hover{
    cursor:pointer;
}

.row_bt{
    text-align: center;
    padding: 5px;
    margin:auto;
}

.bt_edit, .bt_delete{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}

.bt_delete{
    background-image: url("../res/delete.svg");
}.bt_delete:hover{
    transform: scale(0.9);
}

.bt_edit{
    background-image: url("../res/edit.svg");
}.bt_edit:hover{
    transform: rotateZ(-25deg);
}

.margin_15{
    margin: 15px;
}

.margin_auto{
    margin: auto;
}

.margin_v_auto{
    margin-top: auto;
    margin-bottom: auto;
}

#filtres_comptes{
    border-bottom: 1px solid black;
}

.tableau_note, .ligne_titre_note, .ligne_note, td{
    border-collapse: 1px;
    
}

.ligne_titre_note{

}

.ligne_note{

}
