html{
    font-family: 'Arvo', serif;
    font-size: 1em;
    background-color: rgb(40,40,40);
    color: white;
}

p{
    font-family: 'Lato', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.m_r{
    margin: 15px;
    padding-left: 10%;
}
