

.bt_rond{
    background-color: rgba(30, 30, 30, 0.4);
    border: none;
    border-radius: 100%;
    transition-property: width height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 100px;
}.bt_rond:hover{
    width:110px;
    height:110px;
}.bt_rond:active{
    width:90px;
    height:90px;
}



@media only screen and (width <= 640){
    .bt_rond{
        width: 100px;
        height: 100px;
        color:blue
    }.bt_rond:hover{
        width:110px;
        height:110px;
    }.bt_rond:active{
        width:90px;
        height:90px;
    }
}



#bt_left{
    position: absolute;
    left:5px;
    top: 45%;
}

#bt_right{
    position: absolute;
    right:5px;
    top: 45%;
}


#bt_bottom{
    position: absolute;
    bottom:5px;
    margin-right: 40%;
    margin-left: 40%;
}
