html {
    font-family: 'Arvo', serif;
    font-size: 1em;
    background-color: rgb(40, 40, 40);
    color: white;
    overflow: hidden;
}

body {
    overflow: hidden;
}

p {
    font-family: 'Lato', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.m_r {
    margin: 15px;
    padding-left: 10%;
}

.bt_m {
    background-color: rgb(250, 250, 250);
    color: black;
    font-weight: 1000;
    font-size: 1em;
    padding: 1px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    min-width: 8px;
    min-height: 8px;
    margin: 5px;
    text-align: center;
}

.frow {
    margin: 10px;
}

.i_form {
    font-family: 'Arvo', serif;
    font-size: 1em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: none;
    background-color: rgb(30, 30, 30);
    color: white;
}

.bt_form {
    text-decoration: none;
    color: rgb(60, 60, 70);
    font-family: 'Arvo', serif;
    font-size: 1em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    transition-duration: 0.6s;
    background-color: rgb(150, 150, 150);
}

.bt_form:hover {
    color: rgb(50, 0, 0);
    background-color: rgb(130, 140, 180);
}

.bt_oeil {
    position: relative;
    top: 7px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    background-image: url("../res/oeil.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition-duration: 0.5s;
}

.bt_oeil:hover {
    transform: scale(0.8);
}

.bt_oeil:active {
    background-image: url("../res/oeil_active.svg");
}

.selecte1 {
    border-radius: 10px;
    font-size: 1.2em;
}